@tailwind base;
@tailwind components;
@tailwind utilities;

.html2canvas-container { width: 3000px !important; height: 3000px !important; }

button::-moz-focus-inner {
    border: 0;
}
button:focus {
    outline: none;
}